body
{
    background-color: beige;

}

.container
{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.container h1
{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container p
{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
    

}



.container label
{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 110px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
    
}

.container input
{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}


.container button
{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;

}

.container button:hover
{
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

}

.container button:active
{
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.container button:focus
{
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.container button:disabled
{
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.container button:disabled:hover
{
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.container button:disabled:active
{
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

form i 
{
    margin-left: -30px;
    cursor: pointer;
}